SECRET_KEY=django-insecure-xxx
DEBUG=True
DB_NAME=gestion_commerciale
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
MONGO_HOST=mongodb://localhost:27017/
MONGO_DB_NAME=gestion_logs
ALLOWED_HOSTS=localhost,127.0.0.1